<h2>Announcements</h2>

<% if can?(:create, Announcement) %>
  <%= link_to 'New Announcement', new_announcement_path, class: 'btn btn-success', id: 'new-announcement' %>
<% end %>
<table class='table'>
  <tr>
    <th>Text</th>
    <th>Expires at</th>
    <th colspan="4">Configuration</th>
  </tr>

  <% @announcements.each do |announcement| %>
    <tr>
      <td><%= announcement.text %></td>
      <td><%= announcement.expires_at.strftime('%m-%d-%Y') %></td>
      <td><%= link_to 'Show', announcement %></td>
      <% if can?(:manage, @announcements) %>
        <td><%= link_to 'Edit', edit_announcement_path(id: announcement.id) %></td>
        <td><%= link_to 'Delete', announcement_path(id: announcement.id), method: :delete %></td>
      <% end %>
      <td><%= link_to 'Log Reading', new_reading_url, class: 'btn btn-success' %></td>
    </tr>
  <% end %>
</table>
