<h2>Announcements</h2>
<table>
  <tr>
    <th>Text</th>
    <th>Expires at</th>
  </tr>
  <tr>
  <% @announcements.each do |announcement| %>
    <td><%= announcement.text %></td>
    <td><%= announcement.expires_at.strftime('%m-%d-%Y') %></td>
    <%= link_to 'Show', announcement %>
    <% if can?(:manage, @announcements) %>
      <%= link_to 'Edit', edit_announcement_path(id: announcement.id) %>
      <%= link_to 'Delete', announcement_path(id: announcement.id), method: :delete %>
    <% end %>
  <% end %>
  </tr>
</table>
