<!DOCTYPE html>
<html>
  <head>
    <title>RadioApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light navbar-static-top">
      <a class="navbar-brand" href="/">Radio Announcements</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to 'Announcements', announcements_path %></li>
      </ul>

      <ul class="navbar-nav ma-auto">

      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink"><%= current_user.dj_name %></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li class="nav-item"><%= link_to 'Log In', new_user_session_path %></li>
      <% end %>
      </ul>
    </nav>
    <div class="container-fluid" >
      <%= yield %>
    </div>
  </body>
</html>
